/* bgimage 비율 맞추기 */
.bgimage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 80%;
  filter: brightness(50%);
  object-fit: cover;
}
