@import url(/css/reset.css);
@import url(/css/variables.css);

/* components */
@import url(/css/components/card.css);

/* screens */
@import url(/css/screens/background.css);
@import url(/css/screens/welcome.css);
@import url(/css/screens/modal.css);
@import url(/css/screens/header.css);
@import url(/css/screens/main.css);
@import url(/css/screens/footer.css);
@import url(/css/screens/sidebar.css);

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.hidden {
  display: none;
}

/* fonts */
.font-en {
  font-family: "Roboto", sans-serif;
}
.font-ko {
  font-family: "Noto Sans KR", sans-serif;
}
