@import url(/css/reset.css);
@import url(/css/background.css);

.hidden {
  display: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
}
