#main {
  margin: 0 auto;
  min-width: 550px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(2, 120px);
  width: 100%;
  height: 100%;
  gap: 15px;
  margin: 20px;
}
.main-container div {
  background: var(--gradation-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  transition: transform 150ms cubic-bezier(0.39, 0.575, 0.565, 1);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
.main-container div:hover {
  transform: scale(1.1, 1.1);
}
.main-container a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-container img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.main-container a {
  text-decoration: none;
  color: inherit;
}
