#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 99;
  background: var(--gradation-light);
}
#sidebar button {
  cursor: pointer;
}

.sidebar__close-btn {
  height: 30px;
  margin: 0 auto;
}
.sidebar-container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.greeting {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
}
.logout-form {
  height: 30px;
  text-align: end;
}
.logout-submit:hover {
  background: rgb(255, 0, 0);
  color: white;
  font-weight: bold;
}
.todo-wrapper {
  min-height: 100px;
}
.todo-form input {
  width: 100%;
  padding: 10px 0;
  margin-top: 25px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 300ms ease-in-out;
  background: none;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.todo-form input:focus {
  outline: none;
  border-color: skyblue;
}
.todo-list {
  padding: 10px;
  font-family: "Noto Sans KR", sans-serif;
}
.todo-list li {
  margin: 10px;
  padding: 10px;
  font-size: 1.1rem;
}
.todo-list li:hover {
  background: rgba(0, 0, 0, 0.2);
}
.todo-list li > span {
  margin-right: 5px;
}

/* 핫픽스 - 버튼 css */
.sidebar-btn__prettier {
  padding: 5px;
  border-radius: 0.5rem;
  background: #fff;
  font-weight: bold;
}
.sidebar-btn__prettier:hover {
  background: var(--gradation-light);
  background: skyblue;
  color: #fff;
  -webkit-text-fill-color: #fff;
}
